[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js/
[submodule "plugin/pdfexport"]
	path = plugin/pdfexport
	url = https://github.com/McShelby/reveal-pdfexport
[submodule "plugin/skip-fragments"]
	path = plugin/skip-fragments
	url = https://github.com/PiDayDev/reveal-skip-fragments
[submodule "plugin/jump-plugin"]
	path = plugin/jump-plugin
	url = https://github.com/SethosII/reveal.js-jump-plugin
